extends layout 

block content 

    h1.text-center.text-2xl= title 

    form(action="", method="post").flex.flex-col.items-center.grow.justify-center.gap-y-2 

        label(for="title") Title: 
        input#title(type="text", name="title" class="bg-slate-900 text-white dark:bg-slate-100 dark:text-black text-center" value=(undefined===post ? '' : post.title)).px-4.py-2.outline-none

        label(for="content") Post: 
        textarea#content(name="content", rows="10" class="w-4/5 md:w-1/2 md:px-4 md:py-2 bg-slate-900 text-white dark:bg-slate-100 dark:text-black").outline-none= (undefined===post) ? '' : post.content

        if(errors)
            ul 
                each error in errors 
                    li= error.msg
                    
        input(type="submit", value="Post").bg-sky-600.px-6.py-3.rounded-full.font-bold